*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #EEF4F6;
}

.wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.navCont{
    display: flex;
    height: 7vh;
    width: 100%;
    background-color: #448AFF;
}

.mainCont{
    height: 88vh;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 9fr 15fr 6fr;
    gap: 20px;
}

.topGrid{
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
}

.topGridItem{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: 1px solid black;
}

.topGridItemFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.number{
    font-size: 20px;
}

.text{
    font-size: 12px;
}

.topRightFlex{
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.topRightTop{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #32ED80;
    height: 45%;
    width: 100%;
}

.topRightLeft{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #11C15B;
    height: 100%;
    width: 40%;
}

.topRightRight{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #32ED80;
    width: 100%;
    height: 100%;
}

.middleLeft{
    grid-column: span 3;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middleLeftItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 15px;
    border-bottom: 1px solid black;
}

.mlLeftFlex{
    display: flex;
    justify-content: space-evenly;
    width: 33%;
}

.mlLeftFlex > img{
    width: 35px;
    height: 35px;
}

.mlLeftFlexText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mlRightFlex{
    display: flex;
    justify-content: space-between;
    width: 25%;
}

.middleRight{
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 2fr;
    gap: 10px;
}

.middleRightItem{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    grid-column: span 1;
    background-color: white;
}

.bottom{
    grid-column: span 6;
    display: flex;
    background-color: white;
    justify-content: space-around;
    align-items: center;
}

.botItem{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin: 0 10px;
}

.botItem > input{
    align-self: stretch;
    
}