*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.gridContainer{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 13% 13% 50% 24%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    }
.imageDiv{
    grid-row: span 4;
    grid-column: span 1;
}
.textDiv{
    grid-row: span 1;
    grid-column: span 1;
}
p{
    font-size: calc((2vw + 2vh)/2);
    line-height: calc((2vw + 2vh)/2);
}

.mainGrid{
    display: grid;
    height: 97vh;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.flexItem {
    height: 50vh;
}
.middleBreak{
    display: initial;
}
.startBreak{
    display: none;
}

@media (max-width : 1000px){
    .mainGrid{
        width: 100%;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        padding: 20px;
        gap: 20px;
    }
}